*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(158, 238, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}
#center{
    height: 70%;
    border-radius: 10px;
    width: 70%;
    background-color: white;
    overflow: hidden;
    /* border: 2px solid black; */
}
#top{
    height: 15%;
    width: 100%;
    color: white;
    background-color: rgb(13, 97, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    font-weight: 900;
    height: 50px;
    width: 150px;                  
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
   
}

#box1, #box2 , #box3{
    border-radius: 5px;
    height : 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}
#mid{
     width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
} 
#bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgb(45, 185, 45);
    border-radius: 50%;
}


#bubble:hover{
    cursor: pointer;
    background-color:  rgb(24, 151, 24);
}
h3{
    text-align: center;
    /* border: 2px solid black; */
}

@media (max-width: 600px ) {
   
    .box{
        flex-direction: column;
    }
   
}