*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    width: 100vw;
    height: 100vh;
    /* background: #355C7D;  
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    background-color: #efcfe3  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center{
    height: 70%;
    border-radius: 10px;
    width: 70%;
    background-color: white;
    overflow: hidden;
    /* border: 2px solid black; */
}
#top{
    height: 15%;
    width: 100%;
    color: white;
    background-color: #e27396 ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    font-weight: 900;
    height: 50px;
    width: 150px;                  
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
   
}

#box1, #box2 , #box3{
    border-radius: 5px;
    height : 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}
#mid{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
} 
#bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 2vmax;
    width: 3vmax;
    color: white;
    background-color: #ea9ab2  ;
    border-radius: 50%;
}


#bubble:hover{
    cursor: pointer;
    background-color: #b3647c;
}
h3{
    text-align: center;
    /* border: 2px solid black; */
}

@media (max-width: 600px ) {
   
    .box{
        flex-direction: column;
    }
   
}